.inner_container {
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

@media (max-width: 640px) {
  .left {
    width: 0;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .screens {
    background-color: green;
  }
}

@media (min-width: 1024px) {
  .screens {
    background-color: yellow;
  }
}

@media (min-width: 1280px) {
  .screens {
    background-color: red;
  }
}

@media (min-width: 1536px) {
  .screens {
    background-color: blue;
  }
}
