<div class=" flex bg-theme1 py-1">
  <div class="wi-1 text-white flex text-center items-center place-content-center pl-2">
    <mat-icon fontSet="fa-solid" fontIcon="fa-phone" class="mat_icon"></mat-icon>
    <span>+001234567890</span>
  </div>
  <div class="wi-2 flex mx-0.5 my-1 text-white px-60 items-center place-content-center">
    <div class="wi-2_1 text-center">
      <span>Get 50% Off on Selected Items</span>
    </div>
    <div class="w-0.5 bg-white h-5 mx-4"></div>
    <div class="wi-2_1">
      <span class="show-now">Show now</span>
    </div>
  </div>
  <div class="wi-3 flex text-center mx-0.5 my-1 text-white px-2 items-center place-content-between pr-2">
    <div class="flex text-center items-center place-content-between">
      <div>English</div>
      <mat-icon fontSet="fa-solid" fontIcon="fa-chevron-down" class="mat_icon"></mat-icon>
    </div>
    <div class="flex text-center items-center place-content-between">
      <div>Location</div>
      <mat-icon fontSet="fa-solid" fontIcon="fa-chevron-down" class="mat_icon"></mat-icon>
    </div>
  </div>
</div>
