<div class=" flex bg-theme1 py-1">
  <div class="w-1/6 text-white flex align-middle text-center items-center justify-items-center place-content-center">
      <mat-icon fontSet="fa-solid" fontIcon="fa-phone" class="mat_icon"></mat-icon>
      <span>+001234567890</span>
  </div>
  <div class="flex w-4/6 align-middle text-center mx-0.5 my-1 text-white px-60 items-center justify-items-center place-content-center">
    <div class=" w-52">Get 50% Off on Selected Items</div>
    <div class="w-0.5 bg-white h-5 mx-4"></div>
    <div class=" w-52 items-start">Show now</div>
  </div>
  <div class="flex w-1/6 align-middle text-center mx-0.5 my-1 text-white px-4 items-center justify-items-center place-content-center">
    <label>Language</label>
    <mat-icon aria-hidden="false" fontSet="fa-solid" fontIcon="fa-chevron-down" class="table-cell align-middle text-center mx-0.5 my-1"></mat-icon>
    <label>Location</label>
    <mat-icon aria-hidden="false" fontSet="fa-solid" fontIcon="fa-chevron-down" class="table-cell align-middle text-center mx-0.5 my-1"></mat-icon>
  </div>
</div>
